@import "@/assets/scss/_main";

.main {
  width: 100%;
  height: 100vh;
  //background-color: orange;

  .sidebar {
    width: 200px;
    height: 100vh;
    background-color: #ff0000;
  }

  .content-right {
    width: 100%;
    height: 100vh;
    //background-color: #ff000073;

    .navbar {
      width: 100%;
      padding: 20px 15px;
      background-color: #ff0000;
    }

    .pages {
      width: 100;
      height: auto;
      //background-color: yellow;
    }
  }
}
